@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
  background-color: rgb(251, 207, 232);
  margin: 0;
  padding: 0;
  border: 0;
}

#range-slider-waveform {
  background: rgb(0, 0, 0, 0);
  opacity: 100%;
  position: relative;
  padding-top:20px;
  margin-bottom: -25px;
}

#range-slider-waveform .range-slider__range {
  background: #FFF;
  opacity: 30%;
  height:32px;
}

#range-slider-waveform .range-slider__thumb {
  background: #FFF;
  width:8px;
  height:32px;
  border-radius: 0px;
  cursor:ew-resize;
  opacity: 75%;
}

/* Range Slider as a Single Thumb Slider */
.single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}
.single-thumb .range-slider__range {
  border-radius: 6px;
}